*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body{
  display: flex;
  justify-content: center;
  align-items: center;
  color: #eae0d5;
  background-color: #051923;
  height: 100vh;
}

button{
  color: #eae0d5;
  text-shadow: 1px 1px 2px black;
  border-radius: 100%;
  width: 70px;
  height: 70px;
  border: 4px dashed #5e503f;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px;
  font-size: 36px;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  background-color: #c6ac8f;
}

/*
button:hover{
  }
  */
  
  #calculator{
    display: flex;
    flex-direction: column;
    background-color: #5e503f;
    padding: 30px;
    width: 30%;
    height: 75vh;
    margin: 20px;
    border-radius: 20px;
  }
  
  #display{
    width: 100%;
    height: 200px;
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
    background-color: #c6ac8f;
    border: 4px dashed #5e503f;
    text-shadow: 1px 1px 2px black;
    border-radius: 20px;
    padding: 30px;
    font-size: 50px;
  }
  
  #buttons{
    display: flex;
  justify-content: space-between;
  margin-top: 20px;
}

.col{
  display: flex;
  gap: 20px;
  flex-direction: column;
}
